/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

/* Variables */
$color-disabled: #a5a9b4;
$color-disabled-font: #5b6376;

.standard-button {
  background: rgb(34, 33, 33);
  margin-top: 10px;
  width: auto;
  text-align: center;
  height: 40px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0.8em;
}

.disabled-button {
  margin-top: 10px;
  width: auto;
  text-align: center;
  height: 40px;
  color: $color-disabled-font !important;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 0.8em;
  background-color: $color-disabled !important;
  cursor: default !important;
}

.outline-button {
  @extend %standard-button !optional;
  border: 1px solid black !important;
  background-color: transparent !important;
  margin-top: 10px;
  width: auto;
  text-align: center;
  height: 40px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 0.8em;
}

/* Absolute Center Spinner */

.loading {
  position: fixed;
  z-index: 9999;
  height: 4em;
  width: 4em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("./assets/img/spinner.gif");
}

/* Transparent Overlay */

.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

