@import 'src/styles.scss';

mat-form-field {
    width: 80%;
    margin-bottom: 10px;
}

.dialog-footer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.confirm {
    margin-right: 15px;
}
