@import 'src/styles.scss';

mat-form-field {
    width: 80%;
    margin-bottom: 10px;
}

.edit-enrollee-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dialog-footer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.confirm {
    margin-right: 15px;
}
