h1 {
    text-align: center;
}

mat-table {
    width: 100%;
}

.table-container {
    display: flex;
    flex-direction: column;
    width:98%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.filter {
    align-self: flex-end;
    margin-right: 30px;
}

mat-header-cell {
    text-align: center !important;
}

td.mat-cell {
    width: 100% !important;
}

// id Width
.mat-header-cell:first-child {
    max-width: 40% !important;
}
  
.mat-cell:first-child {
    max-width: 40% !important;
}
  
// active Width
.mat-header-cell:nth-child(2) {
    max-width: 25% !important;
}

.mat-cell:nth-child(2) {
    max-width: 25% !important;
}

// name Width
.mat-header-cell:nth-child(3) {
    max-width: 20% !important;
}

.mat-cell:nth-child(3) {
    max-width: 20% !important;
}

// date of birth Width
.mat-header-cell:nth-child(4) {
    max-width: 10% !important;
}
    
.mat-cell:nth-child(4) {
    max-width: 10% !important;
}

// edit Width
.mat-header-cell:nth-child(5) {
    max-width: 5% !important;
}
    
.mat-cell:nth-child(5) {
    max-width: 5% !important;
}

// No Record Row
.no-record-row {
    padding-top: 15px;
    padding-left: 15px;
  }